<section class="relative flex justify-center">

    @if (boxes().length) {
        <div class="grid w-fit"
            [style]="'grid-template-columns: repeat('+ level()?.cols + ', 1fr)'">
            
            @for (boxesRow of boxes(); track $index) {
                @for (box of boxesRow; track $index) {
                    <app-box [box]="box"></app-box>
                }
            }
        </div>
    }

    @if (isGameOver()) {
        <div class="w-full h-full bg-neutral-600/50 flex justify-center items-center py-4 absolute top-0">
            <h1 class="text-3xl font-extrabold text-pink-500">GAME OVER!</h1>
        </div>
    }

    @if (hasWon()) {
        <div class="w-full h-full bg-neutral-400/50 flex justify-center items-center py-4 absolute top-0">
            <h1 class="text-3xl font-extrabold text-pink-600">YOU WON!</h1>
        </div>
    }

</section>