@if (!box().isRevealed) {
  <div
    class="cell cell-hidden"
    [class.cell-flagged]="box().isFlagged"
    [class.cell-mine-ghost]="isGameOver() && box().hasMine"
    [class.cell-wrong-flag]="isGameOver() && box().isFlagged && !box().hasMine"
    [style.--anim-delay]="animDelay()"
    [attr.aria-label]="ariaLabel()"
    role="gridcell"
    tabindex="0"
    (click)="onClick()"
    (contextmenu)="onRightClick($event)"
    (keydown)="onKey($event)">
    @if (isGameOver() && box().hasMine) {
      <app-icon-mine class="w-3/5 h-3/5"></app-icon-mine>
    } @else if (box().isFlagged) {
      <app-icon-flag class="w-3/5 h-3/5"></app-icon-flag>
    }
  </div>
} @else {
  <div
    class="cell cell-revealed"
    [class.cell-mine]="box().hasMine"
    [class.cell-number]="!box().hasMine && (box().minesAroundQuantity ?? 0) > 0"
    [class.cell-empty]="!box().hasMine && (box().minesAroundQuantity ?? 0) === 0"
    [style.--anim-delay]="animDelay()"
    [attr.data-n]="box().minesAroundQuantity"
    [attr.aria-label]="ariaLabel()"
    role="gridcell"
    tabindex="0"
    (click)="onClick()"
    (keydown)="onKey($event)">
    @if (box().hasMine) {
      <app-icon-mine class="w-3/5 h-3/5"></app-icon-mine>
    } @else if ((box().minesAroundQuantity ?? 0) > 0) {
      <span>{{ box().minesAroundQuantity }}</span>
    }
  </div>
}
