<section class="w-full">
    <div class="grid grid-cols-8">
        @for (boxY of boxes; track x; let x = $index) {
            @for (boxX of boxY; track y; let y = $index) {
                <app-box [box]="boxes[x][y]"
                    [isGameOver]="isGameOver" 
                    (gameOverEvent)="setGameOver()"
                    (clickBlankEvent)="rotateNeighbours($event)"
                    (clickEvent)="validateWin()"></app-box>
            }
        }
    </div>

    <div class="flex justify-center py-4">
        <button class="bg-pink-500 text-white p-2 rounded-md" (click)="resetGame()">Reset Game</button>
    </div>


    @if (isGameOver) {
        <div class="flex justify-center py-4">
            <h1 class="text-3xl text-pink-500">GAME OVER!</h1>
        </div>
    }

    @if (hasWon) {
        <div class="flex justify-center py-4">
            <h1 class="text-3xl text-lime-500">YOU WON!</h1>
        </div>
    }

</section>