<section class="w-full relative">
    <div class="grid grid-cols-8">
        @for (boxY of boxes; track x; let x = $index) {
            @for (boxX of boxY; track y; let y = $index) {
                <app-box [box]="boxes[x][y]"></app-box>
            }
        }
    </div>

    @if (isGameOver) {
        <div class="w-full h-full bg-neutral-600/50 flex justify-center items-center py-4 absolute top-0">
            <h1 class="text-3xl font-extrabold text-pink-500">GAME OVER!</h1>
        </div>
    }

    @if (hasWon) {
        <div class="w-full h-full bg-neutral-400/50 flex justify-center items-center py-4 absolute top-0">
            <h1 class="text-3xl font-extrabold text-lime-600">YOU WON!</h1>
        </div>
    }

</section>